.hero-full-container{
	padding:20% 0;
}

@media (min-width:992px){
	.hero-full-container{
		padding:15% 0;
	}
}

.background-image-container{
	text-align:center;
	background-image:url(../wave-hero-background.svg)
}


.background-image-container,.footer-container{
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top
}


.white-text-container a,.white-text-container h1,.white-text-container h2,.white-text-container h3,.white-text-container h4,.white-text-container h5,.white-text-container p{
	color:#fff
}