.email_class {
    font-family: inherit;
    font-size: inherit;
}


/* $color-one: #1F2124;
$color-two: #383A3F;
$color-three: #F68657;
$color-four: #F6B352; */

.email_class a:hover {
    color: gold !important;
}

#grad {
    background-image: linear-gradient(180deg, rgb(208, 243, 253), rgb(255, 210, 233)) !important;
}

#darkcolorsgrad {
    background-image: linear-gradient(90deg, rgb(0, 19, 41), rgb(1, 36, 53), rgb(22, 0, 48))!important;
}

#verticalgrad {
    /* #02021d */
    background-image: linear-gradient(#000000, rgb(0, 19, 41))!important;
}

#verticalgrad2 {
    /* #02021d */
    background-image: linear-gradient( rgb(0, 19, 41), rgb(1, 36, 53))!important;
}

#verticalgrad3 {
    /* rgb(1, 36, 53), rgb(40, 0, 48) */
    background-image: linear-gradient(rgb(1, 36, 53), rgb(1, 24, 36))!important;
}

#verticalgrad4 {
    /* rgb(1, 36, 53), rgb(40, 0, 48) */
    background-image: linear-gradient(rgb(1, 36, 53), rgb(40, 0, 48))!important;
}

#prize_card {
    color: #1F2124 !important;
    background-image: linear-gradient(rgb(248, 227, 159), rgb(255, 202, 142))!important;
}

#prize_card2 {
    color: #1F2124 !important;
    background-image: linear-gradient(rgb(123, 178, 206), rgb(183, 132, 199))!important;
}

#prize_card3 {
    color: #1F2124 !important;
    background-image: linear-gradient(rgb(146, 255, 152), rgb(114, 248, 215))!important;
}