/* general styling */


/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
} */

#countdown {
    box-sizing: border-box;
    /* margin: 0; */
    padding: 0;
    align-items: center;
    /* background-color: rgb(47, 47, 49); */
    display: flex;
    justify-content: center;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
    font-family: 'Poppins-Black';
    color: #bebebe;
    margin: auto;
    text-align: center;
}

#timer_list li {
    display: inline-block;
    height: 100%;
    width: 220px;
    font-size: 3.5em;
    list-style-type: none;
    text-transform: uppercase;
}

#countdown li span {
    display: block;
    font-size: 3.5rem;
}


/* .message {
    font-size: 4rem;
} */


/* 
#content {
    display: none;
    padding: 1rem;
} */


/* .emoji {
    padding: 0 .25rem;
} */

@media all and (max-width: 768px) {
    #timer_list {
        /* display: flex; */
        /* justify-content: center; */
        /*margin-right: 10%;*/
        /* text-align: center; */
    }
    #timer_list {
        display: flex;
        flex-direction: column;

    }
    /* #countdown h1 {
        font-size: 1.5rem;
    }
    #countdown li {
        font-size: 1.125rem;
        padding: .75rem;
    }
    #countdownli span {
        font-size: 3.375rem;
    } */
}