.theme-list-heading{
    font-family: 'Poppins Black' !important;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
}

.theme-list-para{
    font-size: 2rem;
}

.theme-list{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.theme-list-column{
    padding: 4rem;
    min-width: 75%;
    background: #122544;
    text-align: center;
    border-radius: 30px;
}

